.mypy_cache
.venv
.vscode
*/.pytest_cache
*/__pycache__/*
__pycache__
htmlcov
.coverage
.coveragerc
.ruff_cache
.pytest_cache
.pyre/
.pytype/
.pyright/
.idea
.DS_Store
*.sqlite3
*.log
*.env
.env.*
*.pot
*.pyc
*.pyo
*.pyd
*.db